@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*,
a {
  font-family: 'Pretendard';
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 5px;
}

@font-face {
  font-family: 'VitroCore';
  src:
    local('vitro'),
    url('../public/assets/font/vitro.woff2') format('woff2'),
    url('../public/assets/font/vitro.woff') format('woff'),
    url('../public/assets/font/vitro.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}
