@property --percentage {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

@keyframes piechart {
  from {
    opacity: 0.8;
    --percentage: 0;
  }
}

.piechart::before {
  animation: piechart 1s forwards;
  content: '';
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background:
    radial-gradient(farthest-side, #7590ff 98%, #0000) top/1.1rem 1.5rem no-repeat,
    conic-gradient(#7590ff calc(var(--percentage) * 1%), #0000 0);
}

.piechart:after {
  content: '';
  animation: piechart 1s forwards;
  border-radius: 46%;
  inset: calc(50% - 0.74rem);
  position: absolute;
  background: #7590ff;
  transform: rotate(calc(var(--percentage) * 3.6deg)) translateY(calc(50% - 9rem / 2));
}
